
.containerM {
    box-sizing: border-box;
    float:left;
    width: 200px;
    height: 100px;
    padding: 30px;    
    border: 2px solid black; 
    margin-bottom: 50px;
}

.clear {
    clear:both;
}

.merkaz {
  box-sizing: box-border;
  margin: 0 auto ; 
  clear: both;
  width:95%;
}

#logo{
    width:150px;
    height: 70px;
    margin-left: 5px;
}

#home{
    width:30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

#logOut{
    width:40px;
    height: 40px;
    float: right;
    margin-right: 5px;
}
header{
    display: block;
    background-color: #292c2f;
    width:100%;
}

#algoSec{
    float:right;
    width: 130px;
    height: 120;
    padding-top: 10%;
}

<!--SIDENAV-------------------->

body {
    font-family: "Lato", sans-serif;
    color: #bfc3c7;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292c2f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

<!--MAIN_MENU-------------------->

.main{
   width: 100%;
   position: absolute;
}

/* ~~~~~~~ INIT. BTN ~~~~~~~ */
ul {
    list-style-type: none;
    padding-left: 35%;
    background-image: url("background4.jpg"); 
    opacity: 0.7;
    background-repeat: repeat-y;
    margin: 0;
    height:355px;
    padding-top:60px;
}

.btn {		
	position: relative;	
	/*padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;*/
	font-size: 24px;
	color: var(--inv);
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .6s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .4s;
}

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*:before, *:after {
	box-sizing: border-box;
}

body {
	--def: #96B7C4; 	
	--inv: #fff;
	/*display: flex;*/
	align-items: center;
	flex-direction: column;
	height:auto/*100vh*/;
	width: 100%;

}

html {
	font-size: 12px;
	font-family: 'Playfair Display', serif;
}

div {margin-bottom: 1rem;}
<<<<<<< HEAD:homePage/homePage.css
div:last-child {margin-bottom: 0;}
=======
div:last-child {margin-bottom: 0px; }
>>>>>>> 743cf553a01da7d9cba1c1f5cc8e96f093b44fc1:homePage/homePage.css

<!--FOOTER -------------------->


.footer-style{
    background-color: #292c2f;
    padding-bottom: 0px;
}

.footer-distributed{
    display: block;
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px;
    font-family: sans-serif;
    padding: 30px 30px 0px 30px;
}


.footer-distributed .a .footer-font { font-family: monospace;}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
    margin-bottom: 0px;
    font-size:18px;
    margin-bottom: 1em;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:   #ffffff;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
    color: #ffffff;
    
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
    font-family:cursive;
	margin:0;
    font-size:18px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:18px;
	line-height:2;
    font-family:cursive;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
    font-family:cursive;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
    color: white;
}


.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
    margin-top: 5px;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-company-about p{
    margin-bottom: 15px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
    font-family:cursive;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

    margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px;
        font-family: sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right
    .footer-distributed .footer-right p{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
        color: white;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

a{
    color: white;
    font-family: cursive;
    font-size: 1.1em;
}