h3{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size:24px;
    font-family: arial, sans-serif;
    font-weight: 500;
}

.row{
    margin-bottom: 5px;
}

table {
    margin-top: 30px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 25px;
    font-size:14px;
}

td, tr {
    border: 1px solid #252240;
    text-align: center;
    padding: 8px;
    color:#001a4d;
    font-weight: 600;
    background-color:#d1e0e0;
}
th{
    border: 1px solid #252240;
    text-align: center;
    padding: 8px;
    color:#eaeae1;
    font-weight: 600;
    background-color:#428bca;
}

.main-center{
    height: auto;
}

.row{
    padding-bottom: 15px;
    padding-top: 15px;
}

#bonus{
    height: 200px;
    width: 300px;
    margin: 10% 23% 6% 29%;
}
