.input-group, .form-control, .inputs {
    width:350px;
}

.lables{
   display: inline-block; 
}

.form-group{
    width: 350px;
    margin: auto;
    margin: 10px;
    display: inline-block;
}

.main-center{
    max-width: 830px;
}

#button{
    display: block;
}

h3{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.save{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width:100%;
}

.main{
    padding-bottom: 15px;
    padding-top: 15px;
}

.btn_save{
    left: 41%;
}